{% extends 'core/base.html' %}

{% block content %}
  <form class="container col-4 d-grid gap-2">
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" placeholder="Your email address" id="exampleInputEmail1" aria-describedby="emailHelp" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="Your password" id="exampleInputPassword1" />
    </div>
    <p>
      Already have an account <a href="/register/">Register</a>
    </p>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
{% endblock %}
