{% extends 'core/base.html' %}

{% block content %}
  <div class="container border p-2 col-4 mx-auto">
    <form action="" method="post" enctype="multipart/form-data">
      <h2 class="text-center">Update Task</h2>

      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Task Name</label>
        <input type="text" class="form-control" value="{{todo.name}}" name="task_name"/>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1"  class="form-label">Task Description</label>
        <input type="text" class="form-control" value="{{todo.desc}}" name="task_desc"/>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Image</label>
        <input type="file" class="form-control"  name="task_img"/>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>


{% endblock %}
